@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--icons-color: #4c5773;
	--icons-light-color: #4c577341;
	--icons-bg-color: #e2e6e9;
	--shadow-dark-color: #bac1cca6;
	--bg-shadow-dark-color: #d3dae745;

	--shadow-light-color: #fff;
	--main-bg-color: #ecf0f3;

	--box-shadow: 0 8px 16px var(--shadow-dark-color),
		0 -6px 16px var(--shadow-dark-color);

	--box-shadow-2: 0rem 8px 16px var(--shadow-dark-color),
		-6px -6px 8px var(--shadow-dark-color);
}

html,
body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	background-color: var(--main-bg-color);
	color: var(--icons-color);
}

* {
	font-family: "Poppins", sans-serif;
}

input {
	color: var(--icons-color);
}

input::placeholder {
	color: var(--icons-color);
}

textarea {
	color: var(--icons-color);
}

textarea::placeholder {
	color: var(--icons-color);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: none;
}

::selection {
	color: var(--shadow-dark-color);
	background: var(--icons-color);
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border: 1px solid var(--main-bg-color);
}

::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
	border-radius: 2rem;
	background: var(--icons-color);
}

/* the slides */
.slick-slide {
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 8px;
	padding-right: 8px;
}

/* the parent */
.slick-list {
	padding: 2rem;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
