.reSellToken {
	width: 100%;
	margin-top: 2rem;
	padding: 0 13rem;
}
.reSellToken_box {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 3rem;
}

.reSellToken_nft_frame {
	position: relative;
}
.reSellToken_nft_img {
	border-radius: 1.5rem;
	overflow: hidden;
}
.reSellToken_nft_img img {
	border-radius: 1.5rem;
	object-fit: cover !important;
	min-height: 650px;
}
.nftInfo {
	padding-left: 1rem;
}
.nftInfo_name {
	font-size: 2.5rem;
	font-weight: 700;
}

.nftInfo_owner {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	gap: 1.5rem;
}
.nftInfo_owner_avatar {
	width: 4rem;
	height: 4rem;
	padding: 0.5rem;
	border-radius: 50%;
	overflow: hidden;
	background-color: var(--icons-color);
}
.nftInfo_owner_avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nftInfo_owner_name {
	display: flex;
	flex-direction: column;
	gap: 0.15rem;
}
.nftInfo_owner_name label {
	font-size: 1rem;
}
.nftInfo_owner_name span {
	font-size: 1rem;
	font-weight: 600;
}
.nftInfo_price {
	position: relative;
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 0.5rem;
	border: 2px solid var(--icons-color);
	box-shadow: var(--box-shadow-2);
}
.nftInfo_price_disable {
	background-color: #e0e0e0;
}
.nftInfo_price_label {
	height: 100%;
	font-size: 1rem;
	font-weight: 600;
	padding: 1rem;
	background-color: var(--icons-color);
	color: var(--main-bg-color);
	width: 170px;
}
.nftInfo_price_value {
	font-size: 1.5rem;
	font-weight: 600;
}
.nftInfo_price input {
	flex: 1;
	padding: 0;
	background-color: inherit;
	border: none;
	outline: none;
}
.nftInfo_price input:focus {
	background-color: inherit;
	border: none;
	outline: none;
}
.reSellToken_box_btn button {
	width: 100%;
}
