.banner_img img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.banner_img_mobile {
	display: none;
}

@media screen and (max-width: 35em) {
	.banner_img_mobile {
		display: block;
	}

	.banner_img_mobile img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}

	.banner_img {
		display: none;
	}
}
