.navbar {
	width: 100%;
	padding-block: 1.5rem;
	position: relative;
	z-index: 111111111;
}

.navbar_container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: space-between;
	padding: 0 13rem;
}

.navbar_container_left {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.logo {
	display: block;
	color: var(--icons-color);
	font-size: 4rem;
	cursor: pointer;
}

.navbar_container_left_box_input_box {
	position: relative;
	width: 85%;
	display: flex;
	align-items: center;
	border-radius: 2rem;
	box-shadow: var(--shadow-dark-color) 0px 8px 24px;
}

.navbar_container_left_box_input_box input {
	font-weight: 500;
	width: 100%;
	border-radius: 2rem;
	padding: 10px 0 10px 16px;
	border: 1px solid transparent;
	outline: none;
	background-color: transparent;
	transition: all 0.3s ease;
}
.navbar_container_left_box_input_box input:focus {
	border-color: var(--icons-color);
}

.search_icon {
	position: absolute;
	right: 16px;
	cursor: pointer;
	font-size: 1.4rem;
}

/* RIGHT */

.navbar_container_right {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr;
	align-items: center;
}

.navbar_container_right_discover,
.navbar_container_right_help {
	position: relative;
	flex-shrink: 0;
	cursor: pointer;
}

.navbar_container_right_discover_text,
.navbar_container_right_help_text {
	font-size: 1rem;
	font-weight: 500;
}

.navbar_container_right_discover_box,
.navbar_container_right_help_box {
	display: none;
	position: absolute;
	top: 1.25rem;
	padding: 1rem 0.5rem;
	box-shadow: var(--box-shadow);
	font-size: 1rem;
	width: 12rem;
	border-radius: 8px;
	background-color: var(--main-bg-color);
}

.navbar_container_right_help_text:hover .navbar_container_right_help_box,
.navbar_container_right_discover_text:hover
	.navbar_container_right_discover_box {
	display: block;
}
